################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XML_Repository/bin/Debug
/XML_Repository/obj/Debug
